@import './utils/index.scss';
@import './components/index.scss';

$primary_color: #409EFE;
$dark_primary_color: #2368AE;
$primary_background: #DDF2F9;

$success_color: #00B5A4;
$dark_success_color: #008276;
$success_background: #C7ECEA;

$warning_color: #F59433;
$dark_warning_color: #9A5006;
$warning_background: #F9EEDD;

$danger_color: #E46862;
$dark_danger_color: #B83616;
$danger_background: #F9E0DD;

$disabled_color: #D5D8DF;
$disabled_background: #F9F9F9;

$neutral_color: #A3A9BE;
$dark_neutral_color: #797E8F;
$neutral_background: #EFEFEF;
