$main_green: #0bae57;
$main_red: #ef3b2d;
$main_blue: #0671ba;
$main_orange: #f6922e;
$main_gray: #646666;
$main_white: #ffffff;
$main_light_blue: #dff2f8;
$site_light_pink: #b0a4c0;
$site_blue: #2754eb;
$site_dark_gray: #343d5c;
$site_gray: #a1a7bd;
$site_light_gray: #f1f2f7;
$site_orange: #f4911c;
$site_green: #09a248;
$site_pale_pink: #f6bfbb;
$site_pale_green: #b5e3c7;
$site_pale_yellow: #fbdfba;

$active_color_menu: #01528a;

$button_primary_color: #409efe !default;
$button_dark_primary_color: #2368ae;
$button_primary_background: #ddf2f9 !default;

$button_success_color: #00b5a4;
$button_dark_success_color: #008276;
$button_success_background: #c7ecea;

$button_warning_color: #f59433;
$button_dark_warning_color: #9a5006;
$button_warning_background: #f9eedd;

$button_danger_color: #e46862;
$button_dark_danger_color: #b83616;
$button_danger_background: #f9e0dd;

$button_disabled_color: #d5d8df;
$button_disabled_background: #f9f9f9;

$button_neutral_color: #a3a9be;
$button_dark_neutral_color: #797e8f;
$button_neutral_background: #efefef;
