$main_green: #0bae57;
$main_red: #ef3b2d;
$main_blue: #0671ba;
$main_orange: #f6922e;
$main_gray: #646666;
$main_white: #ffffff;
$main_light_blue: #dff2f8;
$site_light_pink: #b0a4c0;
$site_blue: #2754eb;
$site_dark_gray: #343d5c;
$site_gray: #a1a7bd;
$site_light_gray: #f1f2f7;
$site_orange: #f4911c;
$site_green: #09a248;
$site_pale_pink: #f6bfbb;
$site_pale_green: #b5e3c7;
$site_pale_yellow: #fbdfba;

$active_color_menu: #01528a;

$primary_color: #409efe;
$dark_primary_color: #2368ae;
$primary_background: #ddf2f9 !default;

$success_color: #00b5a4;
$dark_success_color: #008276;
$success_background: #c7ecea;

$warning_color: #f59433;
$dark_warning_color: #9a5006;
$warning_background: #f9eedd;

$danger_color: #e46862;
$dark_danger_color: #b83616;
$danger_background: #f9e0dd;

$disabled_color: #d5d8df;
$disabled_background: #f9f9f9;

$neutral_color: #a3a9be;
$dark_neutral_color: #797e8f;
$neutral_background: #efefef;
