$font-base: 'Open Sans', sans-serif, Arial, Helvetica;

$base-light-font-color: #a3a9be;

$title-font: $font-base;
$title-font-weight: regular;
$title-font-bold-weight: bold;

$base-font: $font-base;
$base-font-weight: regular;
$base-font-bold-weight: bold;

$base-font-size: 14px;
$base-font-small-size: 12px;
$base-font-large-size: 16px;
