@import '@/assets/styles/base-style.scss';

//type: admin, color: blue, green, yellow, red, grey, primary, success, danger, warning

//button-admin
.button-admin {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $p-button-transition;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    margin: $p-button-margin;
    padding: $p-button-padding;
    border-radius: $p-button-border-radius;
    min-height: 38px;
    max-height: 38px;
    width: 100%;
    max-width: $p-button-max-width;
    min-width: $p-button-min-width;
    font-size: $base-font-size;
  }
  
  .admin_blue {
    border: 1px solid $admin_blue_color;
    background: $admin_blue_background;
    color: $admin_blue_color;
  }
  
  .admin_blue:hover {
    color: #ffffff;
    background: $admin_blue_color;
  }
  
  .admin_green {
    border: 1px solid $admin_green_color;
    background: $admin_green_background;
    color: $admin_green_color;
  }
  
  .admin_green:hover {
    color: #ffffff;
    background: $admin_green_color;
  }
  
  .admin_yellow {
    border: 1px solid $admin_yellow_color;
    background: $admin_yellow_background;
    color: $admin_yellow_color;
  }
  
  .admin_yellow:hover {
    color: #ffffff;
    background: $admin_yellow_color;
  }
  
  .admin_red {
    border: 1px solid $admin_red_color;
    background: $admin_red_background;
    color: $admin_red_color;
  }
  
  .admin_red:hover {
    color: #ffffff;
    background: $admin_red_color;
  }
  
  .admin_grey {
    border: 1px solid $admin_grey_color;
    background: $admin_grey_background;
    color: $admin_grey_color;
  }
  
  .admin_grey:hover {
    color: #ffffff;
    background: $admin_grey_color;
  }

  .admin_primary {
    border: 1px solid $admin_blue_color;
    background: $admin_blue_background;
    color: $admin_blue_color;
  }
  
  .admin_primary:hover {
    color: #ffffff;
    background: $admin_blue_color;
  }

  .admin_success {
    border: 1px solid $admin_green_color;
    background: $admin_green_background;
    color: $admin_green_color;
  }
  
  .admin_success:hover {
    color: #ffffff;
    background: $admin_green_color;
  }

  .admin_danger {
    border: 1px solid $admin_red_color;
    background: $admin_red_background;
    color: $admin_red_color;
  }
  
  .admin_danger:hover {
    color: #ffffff;
    background: $admin_red_color;
  }

  .admin_warning {
    border: 1px solid $admin_yellow_color;
    background: $admin_yellow_background;
    color: $admin_yellow_color;
  }
  
  .admin_warning:hover {
    color: #ffffff;
    background: $admin_yellow_color;
  }
