@import '@/assets/styles/base-style.scss';


//-----------------------------------------------------------BASE--------------------------------------------------------------

//admin buttons style, skin 
//стили кнопок админки, скины.
@import '@/services/assets/style/buttons/skin/text.scss';
@import '@/services/assets/style/buttons/skin/auth.scss';
@import '@/services/assets/style/buttons/skin/base.scss';

//------------------------------------------------------------------------------------------------------------------------------


//----------------------------------------------------------PROJECT-------------------------------------------------------------

//project buttons style, skin (these classes are unique to each project)
//стили кнопок проекта, скины (эти классы уникальны для каждого проекта)
@import '@/assets/styles/buttons/skin/profile.scss';

//------------------------------------------------------------------------------------------------------------------------------