@import '@/assets/styles/base-style.scss';
$percent: 4%;

//type: main, color: blue, green, yellow, red, grey, disabled, primary, success, danger, warning, c_blue, c_green

// button-main
.button-profile {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $p-button-transition;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  padding: $p-button-padding;
  border-radius: 100px;
  min-height: 32px;
  max-height: 32px;
  width: 100%;
  max-width: $p-button-max-width;
  min-width: $p-button-min-width;
  font-size: $base-font-size;
}

.profile_blue {
  border: 1px solid $admin_blue_color;
  background: $admin_blue_background;
  color: $admin_blue_color;
}

.profile_blue:hover {
  background: lighten($admin_blue_background, $percent);
}

.profile_green {
  border: 1px solid $admin_green_color;
  background: $admin_green_background;
  color: $admin_green_color;
}

.profile_green:hover {
  background: lighten($admin_green_background, $percent);
}

.profile_yellow {
  border: 1px solid $admin_yellow_color;
  background: $admin_yellow_background;
  color: $admin_yellow_color;
}

.profile_yellow:hover {
  background: lighten($admin_yellow_background, $percent);
}

.profile_red {
  border: 1px solid $admin_red_color;
  background: $admin_red_background;
  color: $admin_red_color;
}

.profile_red:hover {
  background: lighten($admin_red_background, $percent);
}

.profile_grey {
  border: 1px solid $admin_grey_color;
  background: $admin_grey_background;
  color: $admin_grey_color;
}

.profile_grey:hover {
  background: lighten($admin_grey_background, $percent);
}

.profile_disabled {
  border: 1px solid $admin_disabled_color;
  background: $admin_disabled_background;
  color: $admin_disabled_color;
  cursor: auto;
}

.profile_disabled:hover {
  background: $admin_disabled_background;
}

.profile_primary {
  border: 1px solid $admin_blue_color;
  background: $admin_blue_background;
  color: $admin_blue_color;
}

.profile_primary:hover {
  background: lighten($admin_blue_background, $percent);
}

.profile_success {
  border: 1px solid $admin_green_color;
  background: $admin_green_background;
  color: $admin_green_color;
}

.profile_success:hover {
  background: lighten($admin_green_background, $percent);
}

.profile_danger {
  border: 1px solid $admin_red_color;
  background: $admin_red_background;
  color: $admin_red_color;
}

.profile_danger:hover {
  background: lighten($admin_red_background, $percent);
}

.profile_warning{
  border: 1px solid $admin_yellow_color;
  background: $admin_yellow_background;
  color: $admin_yellow_color;
}

.profile_warning:hover {
  background: lighten($admin_yellow_background, $percent);
}


.profile_c_blue {
  border: 1px solid $site_blue;
  background: $site_blue;
  color: #ffffff;
}

.profile_c_blue:hover {
  background: darken($site_blue, 10%);
  border-color: darken($site_blue, 10%);
}

.profile_c_green {
  border: 1px solid $main_green;
  background: $main_green;
  color: #ffffff;
}

.profile_c_green:hover {
  background: darken($main_green, 10%);
  border-color: darken($main_green, 10%);
}
