@import '@/assets/styles/base-style.scss';

//type: text, color: blue, green, yellow, red, grey, add, del, primary, success, danger, warning

// button-text
.button-text {
    border: none;
    margin: $p-button-margin;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $p-button-transition;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    padding: $p-button-padding;
    border-radius: $p-button-border-radius;
    height: auto;
    width: aprimaryuto;
    background: none;
    font-family: $base-font;
    font-size: $base-font-size;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .text_blue {
    color: $admin_blue_color;
  }
  
  .text_blue:hover {
    color: $admin_dark_blue_color;
  }
  
  .text_green {
    color: $admin_green_color;
  }
  
  .text_green:hover {
    color: $admin_dark_green_color;
  }
  
  .text_yellow {
    color: $admin_yellow_color;
  }
  
  .text_yellow:hover {
    color: $admin_dark_yellow_color;
  }
  
  .text_red {
    color: $admin_red_color;
  }
  
  .text_red:hover {
    color: $admin_dark_red_color;
  }
  
  .text_grey {
    color: $admin_grey_color;
  }
  
  .text_grey:hover {
    color: $admin_dark_grey_color;
  }
  
  .text_add {
    color: $admin_green_color;
  }
  
  .text_add:hover {
    color: $admin_dark_green_color;
  }
  
  .text_del {
    color: $admin_grey_color;
  }
  
  .text_del:hover {
    color: $admin_dark_red_color;
  }

  .text_primary {
    color: $admin_blue_color;
  }
  
  .text_primary:hover {
    color: $admin_dark_blue_color;
  }
  
  .text_success {
    color: $admin_green_color;
  }
  
  .text_success:hover {
    color: $admin_dark_green_color;
  }
  
  .text_danger {
    color: $admin_red_color;
  }
  
  .text_danger:hover {
    color: $admin_dark_red_color;
  }

  .text_warning {
    color: $admin_yellow_color;
  }
  
  .text_warning:hover {
    color: $admin_dark_yellow_color;
  }
