@import './skins/p-button_auth.scss';
@import './skins/p-button_base.scss';
@import './skins/p-button_pag.scss';
@import './skins/p-button_filter.scss';
@import './skins/p-button_icon.scss';
@import './skins/p-button_royal.scss';
@import './skins/p-button_text.scss';
@import './skins/p-button_profile.scss';
