$footer_top_desktop: 200px;

.footer-top {
  min-height: $footer_top_desktop;
  background: #fff;

  .container {
    padding-top: calc(#{$footer_top_desktop} / 5);
    padding-bottom: calc(#{$footer_top_desktop} / 5);
  }

  .image {
    background: inherit;
    text-align: center;
  }
  img {
    max-height: 100px;
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .footer-top {
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
