$header_bottom_desktop: 56px;

.header-bottom {
  @include box_shadow(2);
  height: $header_bottom_desktop;
  background: whitesmoke;

  .header-bottom-menu {
    height: $header_bottom_desktop;
    border: none;
    background: whitesmoke;

    .header-bottom-menu-item {
      font-weight: bold;
      font-size: 16px;
      color: #4a4a4a;
      margin-right: 0;
      text-transform: uppercase;
      height: 100%;
    }
  }
}

.header-bottom-menu-item:hover,
.header-bottom-submenu-item:hover {
  background-color: #e4e5e7 !important;
}

.drawer,
.header-bottom {
  .el-submenu__title:hover {
    background-color: #e4e5e7 !important;
    border: none !important;
    height: $header_bottom_desktop !important;
  }
}

.info {
  display: block;
  font-weight: bold;
}
