@import '../../../utils/index.scss';

//skin: icon
//type: primary, success, warning, danger, neutral, disabled

//button-auth
.button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition;
  cursor: pointer;
  min-width: 42px;
  max-width: 42px;
  min-height: 42px;
  max-height: 42px;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &_primary {
    border: 1px solid $button_primary_color;
    background: $button_primary_background;
    color: $button_primary_color;
    &:hover {
      background: lighten($button_primary_background, $percent);
    }
  }

  &_success {
    border: 1px solid $button_success_color;
    background: $button_success_background;
    color: $button_success_color;
    &:hover {
      background: lighten($button_success_background, $percent);
    }
  }

  &_warning {
    border: 1px solid $button_warning_color;
    background: $button_warning_background;
    color: $button_warning_color;
    &:hover {
      background: lighten($button_warning_background, $percent);
    }
  }

  &_danger {
    border: 1px solid $button_danger_color;
    background: $button_danger_background;
    color: $button_danger_color;
    &:hover {
      background: lighten($button_danger_background, $percent);
    }
  }

  &_neutral {
    border: 1px solid $button_neutral_color;
    background: $button_neutral_background;
    color: $button_neutral_color;
    &:hover {
      background: lighten($button_neutral_background, $percent);
    }
  }

  &_disabled {
    border: 1px solid $button_disabled_color;
    background: $button_disabled_background;
    color: $button_disabled_color;
    cursor: auto;
    &:hover {
      background: $button_disabled_background;
    }
  }
}
