//base-button-colors: neutral, disabled, primary, success, danger, warning
$admin_primary_color: #409EFE;
$admin_dark_primary_color: #2368AE;
$admin_primary_background: #DDF2F9;

$admin_success_color: #00B5A4;
$admin_dark_success_color: #008276;
$admin_success_background: #C7ECEA;

$admin_warning_color: #F59433;
$admin_dark_warning_color: #9A5006;
$admin_warning_background: #F9EEDD;

$admin_danger_color: #E46862;
$admin_dark_danger_color: #B83616;
$admin_danger_background: #F9E0DD;

$admin_disabled_color: #D5D8DF;
$admin_disabled_background: #F9F9F9;

$admin_neutral_color: #A3A9BE;
$admin_dark_neutral_color: #797E8F;
$admin_neutral_background: #EFEFEF;