@import '@/assets/styles/base-style.scss';


//-----------------------------------------------------------BASE--------------------------------------------------------------

//admin buttons style, skin 
//стили кнопок админки, скины.
@import './skin/text.scss';
@import './skin/auth.scss';
@import './skin/base.scss';
@import './skin/pag.scss';
@import './skin/filter.scss';
@import './skin/icon.scss';
@import './skin/royal.scss';
