// main colors
$main_green: #0BAE57;
$main_red: #EF3B2D;
$main_blue:#0671BA;
$main_orange: #F6922E;
$main_gray: #646666;

// additional colors
$additional_light_green: #00B5A4;
$additional_purple:#90268F;
$additional_light_blue: #22ABE2;
$additional_light_green: #7BC142;
$additional_brown: #8A5D3B;
$additional_yellow: #FAD004;
$additional_dark_pink: #CA6F6F;

// site colors
$site_pink :#ED286D;
$site_light_green: #44D29E;
$site_blue: #2754EB;
$site_dark_gray: #343D5C;
$site_gray: #A1A7BD;
$site_light_gray: #F1F2F7;

$site_red: #E62C20;
$site_orange: #F4911C;
$site_green: #09A248;

$site_pale_pink: #F6BFBB;
$site_pale_green: #B5E3C7;
$site_pale_yellow: #FBDFBA;

$active_color_menu: #01528a;
$base-background: #ffffff;

// font
$title-font: Comfortaa, Arial, Helvetica, sans-serif;
$title-font-weight: regular;
$title-font-bold-weight: bold;

$base-font: Roboto, Arial, Helvetica, sans-serif;
$base-font-weight: regular;
$base-font-bold-weight: bold;

$doctor-text-font-size: 13px;
// $doctor-text-font-color: #5d6477;
$doctor-text-font-weight: lighter;
$doctor-text-line-height: 110%;
$doctor-text-letter-spacing: 0.1em;


// block
$normal-border-radius: 5px;
$normal-border:1px solid #e9e9e9;

$small-border-radius: 3px;

$normal-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px, rgba(0, 0, 0, 0.1) 0px -1px 3px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
rgba(0, 0, 0, 0.1) 0px 2px 3px, rgba(0, 0, 0, 0.1) 0px -3px 5px;

//icon 
$width: 20px;
$height: 20px;