:deep(.el-button) {
  background: #2754eb;
  border: 1px solid#2754EB;
  color: #ffffff;
  margin-bottom: 20px;
  min-height: 38px;
  font-size: 14px;
}

:deep(.el-button:hover) {
  background: darken(#2754eb, 10%);
  border: 1px solid#2754EB;
  color: #ffffff;
}

:deep(.el-button:active) {
  background: #2754eb;
  border: 1px solid#2754EB;
  color: #ffffff;
}