.is-selected{
  color: #F8A535;
}

.budge{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px auto;
}
.blue{
  background-color: #409eff;
}

//#calendar > div.el-calendar__header > div.el-calendar__button-group  {
//    visibility: hidden;
//}
//
#calendar > div.el-calendar__header > div.el-calendar__button-group > div > button:nth-child(1) > span {
  display: none;
}
#calendar > div.el-calendar__header > div.el-calendar__button-group > div > button:nth-child(1):after {
  content: '<';
}

#calendar > div.el-calendar__header > div.el-calendar__button-group > div > button:nth-child(2) > span {
  display: none;
}
#calendar > div.el-calendar__header > div.el-calendar__button-group > div > button:nth-child(2):after {
  content: 'Текущий месяц';
}

#calendar > div.el-calendar__header > div.el-calendar__button-group > div > button:nth-child(3) > span {
  display: none;
}
#calendar > div.el-calendar__header > div.el-calendar__button-group > div > button:nth-child(3):after {
  content: '>';
}




.el-calendar-table .el-calendar-day {
  //padding-bottom: 0;
  //height: 40px;
}
