$card-border-radius: 15px;
$card-content-padding: 24px;
$card-content-outpadding: 0 - 24px;


.card:hover{
  margin-top: -5px;
}
.card {
  border-radius: $card-border-radius;
  height: 500px;
  margin-bottom: 50px;
  transition: all .1s;
  position:relative;
  padding-bottom:50px;

  .card-image{
    .image{
      width: calc(100% + 1px);
    }
  }

  .card-content{
    padding: 1.5rem;

    .tags{
      position: absolute;
      bottom: 5%;
      margin-top: 20px;
    }

    .title {
      margin-bottom: 20px;
    }

    .card-time{
      .label {
        text-align: center;
        font-weight: 100;
        opacity: 0.65;
      }

      .interval{
        text-align: center;

        .divider{
          font-weight: 300;
          opacity: 0.65;
          font-size: 1.2rem;
          padding-left: 10px;

          &:first-child{
            padding-left: 0;
          }
        }
        .time{
          font-size: 2.3rem;
          font-weight: 100;
        }
      }
    }

    &:last-child{
      border-bottom-right-radius: $card-border-radius;
      border-bottom-left-radius: $card-border-radius;
    }
  }

  .card-meta{
    font-size: 1rem;
    opacity: 0.75;
    padding-bottom: 12px;

  }

  .article-body{
    margin: 0 6rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    text-align: justify;
  }

  .division-info{
    line-height: 1.2rem;
    font-size: 0.9rem;
    p {
      margin-bottom: 12px;
    }
    li {
      margin-bottom: 12px;
    }
  }
}


