// Цвета брендбука
$red-table: #f7bfbc;
$green-table: #b5e3c8;

$active_color_menu: #01528a;

// main colors
$main_green: #0BAE57;
$main_red: #EF3B2D;
$main_blue:#0671BA;
$main_orange: #F6922E;
$main_grey: #646666;

// additional colors
$additional_light_green: #00B5A4;
$additional_purple:#90268F;
$additional_light_blue: #22ABE2;
$additional_light_green: #7BC142;
$additional_brown: #8A5D3B;
$additional_yellow: #FAD004;
$additional_dark_pink: #CA6F6F;

// custom colors
$red-table: #F7BFBC;
$green-table: #B5E3C8;