@import '@/assets/styles/base-style.scss';

.icon-ruble {
  width: 24px;
  height: 24px;
  fill: #31ae5e;
  margin-left: 0px;
  &:hover {
    cursor: pointer;
    fill: lighten(#31af5e, 10%);
  }
}

.icon-credit-card {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  stroke: #31ae5e;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
    stroke: lighten(#31af5e, 10%);
  }
}

.icon-attention {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  stroke: #31ae5e;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
    stroke: lighten(#31af5e, 10%);
  }
}

button {
  margin: 10px 0;
  width: 230px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  background-color: #31af5e;
  padding: 15px 0px;
  height: auto;
  letter-spacing: 2px;
  color: white;
  border: 1px solid rgb(black, 0.05);
  &:hover {
    cursor: pointer;
    background-color: darken(#31af5e, 10%);
  }
}

.review {
  background-color: #ff4e3c;
  &:hover {
    background-color: darken(#ff4e3c, 10%);
  }
}

.consult {
  color: $site_green;
  background-color: white;
  border-color: $site_green;
  &:hover {
    background-color: darken(white, 10%);
  }
}

:deep(.numbers-comment) {
  justify-content: left;
}

//redefinition for ContactsBlock
:deep(.item) {
  font-size: 16px;
  color: #343D5C;
}
//redefinition for ContactsBlock
:deep(.item-p) {
  margin-left: 10px;
}
//redefinition for Rating
:deep(.line-block2) {
  width: 280px;
}