@import "./favorite.scss";
@import "./base-style.scss";

.card-item {
  display: flex;
  padding: 25px;
  margin-bottom: 30px;
  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
    .doctor-img {
      position: relative;
      z-index: 1;
      img {
        border-radius: 5px;
        height: 280px;
        width: 280px;
      }
      .favor {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 2;
      }
    }
  }
  &-middle {
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    .division-name {
      color: $site_gray;
      margin-bottom: 5px;
      font-size: $doctor-text-font-size;
      &:hover{
        cursor: pointer;
        color:$site_dark_gray;
      }
    }
    .doctor-name {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 10px;
      color:$site_dark_gray;
    }
    .tag-link {
      text-align: center;
      border-radius: 15px;
      background-color: $site_blue;
      border-color: $site_blue;
      color: white;
      padding: 2px 10px;
      margin-right: 10px;
      display: inline-block;
      width: auto;
      word-wrap: break-word;
      font-size: 11px;
      &:hover {
        background-color: darken($site_blue, 10%);
        color: white;
        cursor: pointer;
      }
    }
    .green-tag-link {
      text-align: center;
      border-radius: 15px;
      background-color: $site_green;
      border-color: $site_green;
      color: white;
      padding: 2px 10px;
      margin-right: 10px;
      display: inline-block;
      width: auto;
      word-wrap: break-word;
      font-size: 11px;
      &:hover {
        background-color: darken($site_green, 10%);
        color: white;
        cursor: pointer;
      }
    }
    a {
      color: $site_blue;
      text-decoration: none;
    }
    .tag-link,
    .regalias-list,
    .address {
      margin-bottom: 15px;
      a {
        color: $site_blue;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: darken($site_blue, 30%)
        }
      }
    }
    &-bottom {
      max-width: 300px;
    }
    .mos-doctor-img {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 11px;
      line-height: 1.1;
      &-container {
        display: flex;
        align-items: center;
      }
      img {
        width: 40px;
        margin-right: 5px;
      }
      a {
        color: black
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    button {
      margin: 10px 0;
      width: 230px;
      font-weight: bold;
      font-size: 14px;
      border-radius: 10px;
      background-color: $site_green;
      padding: 15px 0px;
      height: auto;
      letter-spacing: 2px;
      color: white;
      border: 1px solid rgb(black, 0.05);
      &:hover {
        cursor: pointer;
        background-color: darken($site_green, 10%);
      }
    }
    .consult {
      color: $site_green;
      background-color: white;
      border-color: $site_green;
      &:hover {
        background-color: darken(white, 10%);
      }
    }
    .review {
      background-color: $site_red;
      &:hover {
        background-color: darken($site_red, 10%);
      }
    }
  }
}
