.favor {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(black, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30px;
  height: 30px;
  &:hover {
    transform: scale(1.1);
  }
  .anticon {
    font-size: 20px;
    color: #bdc2d1;
  }
}
