@import '@/assets/styles/base-style.scss';
$percent: 4%;

//skin: filter
//type: primary, success, warning, danger, neutral, disabled

.button-filter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $p-button-transition;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  padding: 0 10px;
  border-radius: 5px;
  min-height: 36px;
  max-height: 36px;
  width: 100%;
  max-width: $p-button-max-width;
  min-width: $p-button-min-width;
  font-size: 12px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter_primary {
  border: 1px solid $admin_primary_color;
  background: $admin_primary_background;
  color: $admin_primary_color;
}

.filter_primary:hover {
  background: lighten($admin_primary_background, $percent);
}

.filter_success {
  border: 1px solid $admin_success_color;
  background: $admin_success_background;
  color: $admin_success_color;
}

.filter_success:hover {
  background: lighten($admin_success_background, $percent);
}

.filter_warning {
  border: 1px solid $admin_warning_color;
  background: $admin_warning_background;
  color: $admin_warning_color;
}

.filter_warning:hover {
  background: lighten($admin_warning_background, $percent);
}

.filter_danger {
  border: 1px solid $admin_danger_color;
  background: $admin_danger_background;
  color: $admin_danger_color;
}

.filter_danger:hover {
  background: lighten($admin_danger_background, $percent);
}

.filter_neutral {
  border: 1px solid $admin_neutral_color;
  background: $admin_neutral_background;
  color: $admin_neutral_color;
}

.filter_neutral:hover {
  background: lighten($admin_neutral_background, $percent);
}

.filter_disabled {
  border: 1px solid $admin_disabled_color;
  background: $admin_disabled_background;
  color: $admin_disabled_color;
  cursor: auto;
}

.filter_disabled:hover {
  background: $admin_disabled_background;
}

