@import '@/assets/styles/base-style.scss';

//skin: text
//type: primary, success, warning, danger, neutral, del

.button-text {
    border: none;
    margin: $p-button-margin;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $p-button-transition;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    padding: $p-button-padding;
    border-radius: $p-button-border-radius;
    height: auto;
    width: aprimaryuto;
    background: none;
    font-family: $base-font;
    font-size: $base-font-size;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .text_primary {
    color: $admin_primary_color;
  }
  
  .text_primary:hover {
    color: $admin_dark_primary_color;
  }
  
  .text_success {
    color: $admin_success_color;
  }
  
  .text_success:hover {
    color: $admin_dark_success_color;
  }

  .text_warning {
    color: $admin_warning_color;
  }
  
  .text_warning:hover {
    color: $admin_dark_warning_color;
  }
  
  .text_danger {
    color: $admin_danger_color;
  }
  
  .text_danger:hover {
    color: $admin_dark_danger_color;
  }

  .text_neutral {
    color: $admin_neutral_color;
  }
  
  .text_neutral:hover {
    color: $admin_dark_neutral_color;
  }

  .text_del {
    color: $admin_neutral_color;
  }
  
  .text_del:hover {
    color: $admin_dark_danger_color;
  }
