@import '@/assets/styles/base-style.scss';

//skin: auth
//type: primary, success, warning, danger, neutral, disabled

//button-auth
.button-auth {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $p-button-transition;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    margin: $p-button-margin;
    padding: $p-button-padding;
    border-radius: $p-button-border-radius;
    min-height: 38px;
    max-height: 38px;
    width: 100%;
    max-width: $p-button-max-width;
    min-width: $p-button-min-width;
    font-size: $base-font-size;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .auth_primary {
    border: 1px solid $admin_primary_color;
    background: $admin_primary_background;
    color: $admin_primary_color;
  }
  
  .auth_primary:hover {
    color: #ffffff;
    background: $admin_primary_color;
  }

  .auth_success {
    border: 1px solid $admin_success_color;
    background: $admin_success_background;
    color: $admin_success_color;
  }
  
  .auth_success:hover {
    color: #ffffff;
    background: $admin_success_color;
  }

  .auth_warning {
    border: 1px solid $admin_warning_color;
    background: $admin_warning_background;
    color: $admin_warning_color;
  }
  
  .auth_warning:hover {
    color: #ffffff;
    background: $admin_warning_color;
  }

  .auth_danger {
    border: 1px solid $admin_danger_color;
    background: $admin_danger_background;
    color: $admin_danger_color;
  }
  
  .auth_danger:hover {
    color: #ffffff;
    background: $admin_danger_color;
  }

  .auth_neutral {
    border: 1px solid $admin_neutral_color;
    background: $admin_neutral_background;
    color: $admin_neutral_color;
  }
  
  .auth_neutral:hover {
    color: #ffffff;
    background: $admin_neutral_color;
  }

  .auth_disabled {
    border: 1px solid $admin_disabled_color;
    background: $admin_disabled_background;
    color: $admin_disabled_color;
    cursor: auto;
  }
  
  .auth_disabled:hover {
    background: $admin_disabled_background;
  }
