// FOR ANKETS

$base-background: #ffffff;  //$background-color: whitesmoke;
$custom-background: #DFF2F8;

$menu-background: $base-background;

$base-content-color: #F5FAFF;

$border-radius: 5px;
$big-border-radius: 10px;

$site_dark_gray: #343D5C; 
$site_light_pink: #B0A4C0;

$light-pink-border: 1px solid #B0A4C0;
$custom-border: 1px solid #343D5C;


// font
$title-font: Gilroy, Roboto, Helvetica, sans-serif;
$title-font-weight: regular;
$title-font-bold-weight: bold;

$base-font: Gilroy, Roboto, Helvetica, sans-serif;

$base-font-size: 14px;
$base-font-small-size: 12px;
$base-font-large-size: 16px;

$base-font-weight: regular;
$base-font-bold-weight: bold;
$base-font-color: #5F6A99;

$normal-darker-border:1px solid #c3c3c3;
$normal-border:1px solid #e9e9e9;
$dark-border:1px solid #999999;
$small-border-radius: 3px;

$normal-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px, rgba(0, 0, 0, 0.1) 0px -1px 3px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
rgba(0, 0, 0, 0.1) 0px 2px 3px, rgba(0, 0, 0, 0.1) 0px -3px 5px;

//icon 
$icon-width: 28px;
$icon-height: 28px;
$icon-color: #5F6A99;
$icon-hover-color: #5F6A99;
$icon-transition: 0.2s;

//base-browser-input
$input-height: 52px;
$input-background: #F5FAFF;
$input-border: none;
$input-border-radius: 0px;
$input-font-color: $base-font-color;
$input-font-size: $base-font-large-size;
$input-font: $base-font;
$input-margin: 0;
$input-padding: 0;
$input-width: 100%;

$input-label-color: $base-font-color;
$input-label-margin: 0 0 5px 0;

$input-readonly-background: #f5f5f5;

//PInput
$p-input-margin: 0;
$p-input-padding: 0 20px;







