//---------------------------------------------------------------BASE------------------------------------------------------------------
@import '@/services/assets/style/buttons/base-button-colors.scss'; //base buttons skin colors (базовые цвета скинов кнопок)
//-------------------------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------FOR ALL PROJECTS-----------------------------------------------------------
//content
$base-background: $main_white;
$secondary-background: $main_light_blue;
$menu-background: $main_white;

$transition: 0s;

$normal-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px, rgba(0, 0, 0, 0.1) 0px -1px 3px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
rgba(0, 0, 0, 0.1) 0px 2px 3px, rgba(0, 0, 0, 0.1) 0px -3px 5px;

//border-radius
$border-radius: 5px;
$small-border-radius: 3px;
$big-border-radius: 10px;

//border
$normal-border:1px solid #e9e9e9;
$normal-darker-border:1px solid #c3c3c3;
$dark-border:1px solid #999999;
$light-pink-border: 1px solid #B0A4C0;
$custom-border: 1px solid #343D5C;

//icon 
$icon-width: 20px;
$icon-height: 20px;
$icon-color: #343D5C;
$icon-hover-color: #343D5C;
$icon-transition: $transition;

//base-browser-input
$input-height: 30px;
$input-background: #FFFFFF;
$input-border: none;
$input-font-color: $base-font-color;
$input-font-size: $base-font-size;
$input-font: $base-font;
$input-margin: 0;
$input-padding: 0;
$input-width: 100%;
$input-label-color: $base-light-font-color;
$input-label-margin: 0 0 15px 5px;
$input-readonly-background: #f5f5f5;

//PInput
$p-input-margin: 0;
$p-input-padding: 0 20px;
$p-input-border-radius: 30px;
$p-input-border: 1px solid #DCDFE6;

//PButton
$p-button-width: 100%;
$p-button-min-width: 150px;
$p-button-max-width: 100%;
$p-button-height: 40px;
$p-button-margin: auto;
$p-button-padding: 0 10px;
$p-button-border-radius: 5px;
$p-button-border: 1px solid #DCDFE6;
$p-button-transition: $transition;



//-------------------------------------------------------------PROJECT-PORTAL----------------------------------------------------------
@import '@/assets/styles/portal-color.scss'; //portal project colors (цвета проекта)
@import '@/assets/styles/portal-font.scss'; // portal project font (шрифты проекта)


// doctor font
$doctor-text-font-size: 13px;
$doctor-text-font-weight: lighter;
$doctor-text-line-height: 110%;
$doctor-text-letter-spacing: 0.1em;

