// doctor font
$doctor-text-font-size: 13px;
$doctor-text-font-weight: lighter;
$doctor-text-line-height: 110%;
$doctor-text-letter-spacing: 0.1em;

@import '@/services/assets/style/index.scss';

$base-background: $main_white;
$secondary-background: $main_light_blue;
$menu-background: $main_white;
// $menu-background: #DFF2F8;
