$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import 'node_modules/element-plus/packages/theme-chalk/src/index';

// HELPERS
@import './helpers/shadows';

// LAYOUTS
@import "elements/layout/header-top";
@import "elements/layout/header-bottom";
@import "elements/layout/footer-top";
@import "elements/layout/footer-bottom";
@import "elements/grid";
@import "elements/calendar";

html,
body {
  margin: 0;
  padding: 0;
  overflow: visible;
  height: 100%;
  background: #e4e5e7;
}

.main-container {
  border: 1px solid #eee;
  background-color: rgb(238, 241, 246);
  height: 100%;
  overflow: visible;
}

#app {
  font-size: 1em;
  font-weight: 400;
  color:#4a4a4a;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.el-footer {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body > .el-container::v-deep {
  margin-bottom: 40px;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.el-table .cell {
  word-break: break-word;
}
