$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import 'node_modules/element-plus/packages/theme-chalk/src/index';

// HELPERS
@import './helpers/shadows';
@import '~element-plus/lib/theme-chalk/display.css';

// LAYOUTS
@import 'elements/layout/header-top';
@import 'elements/layout/header-bottom';
@import 'elements/layout/footer-top';
@import 'elements/layout/footer-bottom';
@import 'elements/grid';
@import 'elements/calendar';

html,
body {
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #e4e5e7;
}

body {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
}

.main-container {
  border: 1px solid #eee;
  background-color: rgb(238, 241, 246);
  height: 100%;
  overflow: visible;
}

#app {
  font-size: 1em;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.el-footer {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body > .el-container::v-deep {
  margin-bottom: 40px;
}

:deep(.el-row) {
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1344px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.el-table .cell {
  word-break: break-word;
}

@media only screen and (max-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

@media only screen and (max-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

.el-message-box__btns, .el-popconfirm__action {
  display: flex;
  flex-direction: row-reverse;
}

.el-message-box__btns .el-button, .el-popconfirm__action .el-button {
  margin-right: 10px;
}
