@forward "~element-plus/theme-chalk/src/common/var.scss" with (
  $font-path: "~element-plus/theme-chalk/fonts"
);
@import "~element-plus/theme-chalk/src/index.scss";
@import "~element-plus/theme-chalk/display.css";

// HELPERS
@import "./helpers/shadows";

// LAYOUTS
@import "elements/layout/header-top";
@import "elements/layout/header-bottom";
@import "elements/layout/footer-top";
@import "elements/layout/footer-bottom";
@import "elements/grid";
@import "elements/calendar";
@import "elements/ql";

html,
body {
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #e4e5e7;
}

.main-container {
  border: 1px solid #eee;
  background-color: rgb(238, 241, 246);
  height: 100%;
  overflow: visible;
}

#app {
  font-size: 1em;
  font-weight: normal;
  color: #4a4a4a;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.el-footer {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body > .el-container::v-deep {
  margin-bottom: 40px;
}

:deep(.el-row) {
  width: 100%;
  margin: 0;
}

.container {
  // max-width: 85%;
  max-width: 1344px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.el-table .cell {
  word-break: break-word;
}

@media only screen and (max-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

@media only screen and (max-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

.el-message-box__btns,
.el-popconfirm__action {
  display: flex;
  flex-direction: row-reverse;
}

.el-message-box__btns .el-button,
.el-popconfirm__action .el-button {
  margin-right: 10px;
}

.header-logo-img {
  transition: all 0.3s;
}

.header-logo-img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card-item {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px;
  background-color: white;
  background-clip: padding-box;
}
.card-hover:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px, rgba(0, 0, 0, 0.1) 0px -1px 3px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
    rgba(0, 0, 0, 0.1) 0px 2px 3px, rgba(0, 0, 0, 0.1) 0px -3px 5px;
}

.el-button {
  font-family: "Open Sans", sans-serif;
}

.news-tag-link {
  border-radius: 10px;
  background-color: #2754eb;
  border-color: #2754eb;
  margin: 0 10px 0 0;
  color: white;
  font-size: 10px;
  span {
    letter-spacing: 1px;
  }
  &:hover {
    background-color: darken(#2754eb, 10%);
    color: white;
    // transform: scale(1.05);
    cursor: pointer;
  }
}
