// portal colors
$main_green: #0BAE57;
$main_red: #EF3B2D;
$main_blue:#0671BA;
$main_orange: #F6922E;
$main_gray: #646666;
$main_white: #FFFFFF;
$main_light_blue: #DFF2F8;
$site_light_pink: #B0A4C0;
$site_blue: #2754EB;
$site_dark_gray: #343D5C;
$site_gray: #A1A7BD;
$site_light_gray: #F1F2F7;
$site_orange: #F4911C;
$site_green: #09A248;
$site_pale_pink: #F6BFBB;
$site_pale_green: #B5E3C7;
$site_pale_yellow: #FBDFBA;
$active_color_menu: #01528a;



