@import '@/assets/styles/portal-color.scss'; //portal project colors (цвета проекта)

$title-font: 'Open Sans', sans-serif, Arial, Helvetica;
$title-font-weight: regular;
$title-font-bold-weight: bold;

$base-font: 'Open Sans', sans-serif, Arial, Helvetica;
$base-font-weight: regular;
$base-font-bold-weight: bold;

$base-font-size: 14px;
$base-font-small-size: 12px;
$base-font-large-size: 16px;

$base-font-color: $site_dark_gray;
$base-light-font-color: #A3A9BE;